.chats {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width:100%;
    max-width: 700px;
    align-self: center;
    /* background-color: antiquewhite; */
    position: relative;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:100%;
    flex-grow: 1;
}

.msg-area{
    width: 100%;
}
.user-msg p {
    margin: 0;
}

.user-msg {
    align-self: flex-end;
    padding: 0.75rem 1rem;
    background-color: #323232;
    border-radius: 1rem;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
.default-heading{
    align-self: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.ai-msg{
    margin: 0.5rem 0;
    font-size: 0.9rem;
    text-align: left;
}